<input type="text" class="form-control" placeholder="Tìm Kiếm">
<table class="table">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Mã xe</th>
      <th scope="col">Loại xe (combo)</th>
      <th scope="col">Biển số</th>
      <th scope="col">Số đăng ký</th>
      <th scope="col">Số đăng kiểm</th>
      <th scope="col">Bảo hiểm dân sự</th>
      <th scope="col">Thao tác</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>
        <div>
            <i class="fas fa-plus"></i>
            <i class="far fa-edit ml-2"></i>
            <i class="fas fa-trash-alt ml-2"></i>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>
        <div>
          <i class="fas fa-plus"></i>
          <i class="far fa-edit ml-2"></i>
          <i class="fas fa-trash-alt ml-2"></i>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>
        <div>
          <i class="fas fa-plus"></i>
          <i class="far fa-edit ml-2"></i>
          <i class="fas fa-trash-alt ml-2"></i>
        </div>
      </td>
    </tr>
  </tbody>
</table>