<input type="text" class="form-control" placeholder="Tìm Kiếm">
<table class="table">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên công ty</th>
        <th scope="col">Số điện thoại liên hệ</th>
        <th scope="col">Số giấy phép kinh doanh</th>
        <th scope="col">Người điều hành vận tải</th>
        <th scope="col">Mã số thuế</th>
        <th scope="col">Fax</th>
        <th scope="col">Website</th>
        <th scope="col">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>
          <div>
              <i class="fas fa-plus"></i>
              <i class="far fa-edit ml-2"></i>
              <i class="fas fa-trash-alt ml-2"></i>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>
          <div>
            <i class="fas fa-plus"></i>
            <i class="far fa-edit ml-2"></i>
            <i class="fas fa-trash-alt ml-2"></i>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>
          <div>
            <i class="fas fa-plus"></i>
            <i class="far fa-edit ml-2"></i>
            <i class="fas fa-trash-alt ml-2"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>